@import "../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../node_modules/bootstrap/scss/_mixins";
@import "../../scss/_variables";


.widget-email {
  header {

    .form-control {
      font-size: 0.8571rem;
      border: 1px solid #ccc;
      &:focus {
        border-color: #66afe9;
        outline: none;
      }
    }
  }
}

.widget-email-pagination{
  margin: 0;

  .page-link {
    color: #888;
  }
}

.table-rstore{
  margin-bottom: 0;

  tbody > tr > td:first-child {
    width: 40px;
  }

  td,
  th {
    padding: 7px 5px 7px 5px;
  }

  td > .abc-checkbox,
  th > .abc-checkbox{
    left: -18px;

    > label:before,
    > label:after {
      margin-left: 0px;
    }
  }

  .name,
  .subject,
  .date{
    cursor: pointer;
  }

  .date{
    text-align: left;
    font-size: $font-size-mini;
    font-size: 0.8571rem;

    //min-width: 85px;
  }

  .unread{
    font-weight: $font-weight-semi-bold;
    color: $text-color;
  }

  .starred{
    color: $text-muted;
    cursor: pointer;
    @include transition(color .2s);
    &:hover{
      color: $text-color;
    }

    .fa-star{
      color: $brand-danger;
    }
  }
}

.table-hover {
  tbody tr {
    @include hover {
      background-color: #f0ad4e; // $brand-warning; // #c09853; //yellow;
    }
  }

.import1 {
  color: $white;

}
}


.pagination-legend {
  display: inline-block;

//  position: absolute;
//  left: 1rem;
  margin: 0;
  //margin-top: -1em;
  //padding-top: -10px;
  font-size: $font-size-mini;
  color: $text-muted;
  //line-height: 29px;
  //border: 3px solid $gray-semi-lighter;

/*  + .widget-email-pagination{
    margin-left: 10px;
    border-left: 1px solid $gray-semi-lighter;
    padding-left: 15px;
    border-radius: 0;
    vertical-align: -9px;
  }
*/
}


.pagination-list{

  display: inline-block;
  //line-height: 29px;
  margin-top: -17px;

  //margin-bottom: 0px;
  ul {
    position: absolute;
    right: 1rem;
    //border: 3px solid $gray-semi-lighter;
  }
}

/***********************************/
/**         Search Result         **/
/***********************************/

.search-result-categories{
  > li > a {
    color: $gray-semi-light;
    font-weight: $font-weight-normal;
    &:hover{
      background-color: $gray-semi-lighter;
      color: $text-color;
    }
  }
}

.search-results-count{
  margin-top: 10px;
}

.search-result-item{
  padding: 20px;
  background-color: $white;
  border-radius: $border-radius;
  @include clearfix();

  .image-link{
    display: block;
    overflow: hidden;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    @include media-breakpoint-up(md){
      display: inline-block;
      margin: -20px 0 -20px -20px;
      float: left;
      width: 200px;
    }
    @include media-breakpoint-down(sm) {
      max-height: 200px;
    }
  }

  .image{
    max-width: 100%;
  }

  .info{
    margin-top: 2px;
    font-size: $font-size-sm;
    color: $text-muted;
  }

  .description{
    font-size: $font-size-mini;
  }

  + .search-result-item{
    margin-top: 20px;
  }
}

.search-result-item-body{
  height: auto;
  @include media-breakpoint-down(sm) {
    margin-top: 10px;
  }
  @include media-breakpoint-up(md){
    margin-left: 200px;
  }
}

.search-result-item-heading{
  font-weight: $font-weight-normal;

  > a {
    color: $text-color;
  }

  @include media-breakpoint-up(md){
    margin: 0;
  }
}
