<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../assets/js/bootstrap.min.js"></script>
    <title>Editor</title>
</head>
<body>
<div class="loader" id="loader"></div>
<div #list class="list" [scrollTop]="list.scrollHeight">
    <div id="main">
        <div class="pad">
            <div class="container-fluid">
                <div *ngFor="let botMessage of botMessages; let i = index;let lst = last;">
                    <div class="row-fluid">
                        <div class="column-left">
                            <img src="assets/css/img/Bot.png" class="pull-left" width="100px" height="100px">
                        </div>
                        <div class="column-right">
                            <div class="bubble me" style=""> {{botMessage.message}}</div>
                        </div>
                    </div>
                    <div *ngFor="let userMessage of userMessages; let ind = index;">
                        <div *ngIf="i === ind">
                            <div class="row uMsg">
                                <img src="assets/css/img/User.png" class="uImg pull-right" width="100px" height="100px">
                                <div class="uAfterImg">
                                    <div class="bubble you pull-right">
                                        {{userMessage.message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="lst">
                        <div class="container-fluid ansBtn">
                            <div class="row-fluid">
                                <div class="btn-group-wrap" [style.display]="Show()">
                                    <div class="btn-group text-center">
                                        <div *ngFor="let button of botMessage.buttons" class="btn btn-default"
                                             (click)="showStyle = !showStyle; Reply(button.text,button.id);">
                                            {{button.text}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <form #topicForm="ngForm" id="sendForm" novalidate autocomplete="off"
                              (ngSubmit)="Reply(replyValue)">
                            <input type="text" id="message" class="form-control" [(ngModel)]="replyValue" name="message"
                                   #message="ngModel" required>
                            <button type="submit" class="btn btn-default pull-right mrg" id="snd"
                                    [disabled]="!topicForm.form.valid">
                                Send
                            </button>
                        </form>
                        <button class="btn btn-default pull-left mrg" (click)="StartNewChat()">Start new chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
