<div class="container-fluid">
    <div *ngFor="let botMessage of botMessages; let i = index;let lst = last;">
        <div>
            <div class="row">
                <div class="form-inline">
                    <img src="assets/css/img/Bot.png" class="pull-left" width="100px" height="100px">
                    <div class="bubble me"> {{botMessage.message}}</div>
                </div>
            </div>
            <div *ngFor="let userMessage of userMessages; let ind = index;">
                <br/>
                <div *ngIf="i === ind">
                    <div class="row">
                        <div class="form-inline pull-right">
                            <img src="assets/css/img/User.png" class="pull-right" width="100px" height="100px">
                            <div class="bubble you">
                                {{userMessage.message}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="lst">
                <!--
                <div class="panel panel-default set-bg-view">
                    <div class="container-fluid">
                        <div class="row-fluid">

                            <label> Debug: UserID: {{botMessage.user}}, BotMessage: {{botMessage.message}}, Buttons:
                                <div *ngFor="let button of botMessage.buttons"> {{button.text}}</div>
                            </label>
                        </div>
                    </div>
                </div>
                -->
                <div class="container-fluid" style="margin-bottom: 10px">
                    <div class="row-fluid">
                        <div class="btn-group-wrap">
                            <div class="btn-group text-center">
                                <div *ngFor="let button of botMessage.buttons" class="btn btn-default"
                                     (click)="Reply(button.text,button.id)">{{button.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form #topicForm="ngForm" novalidate autocomplete="off">
    <div class="form-group">
        <div class="container-fluid">
            <div class="row-fluid">
                <input type="text" class="form-control" [(ngModel)]="replyValue" id="mess" required name="mess"
                       #mess="ngModel">

                <!--
                <div *ngIf="mess.errors && (mess.dirty || mess.touched)"
                     class="alert alert-danger">
                    <div [hidden]="!mess.errors.required">
                        Message is required
                    </div>
                </div>
                -->
                <br/>
                <button class="btn btn-default pull-left" (click)="StartNewChat()">Start new chat</button>
                <button class="btn btn-default pull-right" [disabled]="!topicForm.form.valid"
                        (click)="Reply(replyValue)">Send
                </button>
            </div>
        </div>
    </div>
</form>


