<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../assets/js/bootstrap.min.js"></script>
    <title>Editor</title>
</head>
<body class="bodyEditor">
<div id="loader" style="display: none"></div>
<div id="main" style="overflow: auto">
    <div class="row-fluid">
        <button class="btn btn-primary btn-lg newQuestionBtn pointer" data-toggle="modal"
                data-target="#newQuestionDetails"
                (click)="selectedQuestion = newQuestion">New Question
        </button>
    </div>
    <hr>

    <div class="column-left">
        <div *ngFor="let list of questionList; let i = index;">
            <div class="panel panel-default questionPanel pull-left" id="questionPanel"
                 [style.background-color]="Color(list.is_start_node,list.id)">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <label class="lblMrg">Q{{list.id}}:
                            {{list.question_text}}</label>
                    </div>
                    <div class="btn-group-sm pull-right ruleBtn">
                        <button class="btn btn-primary"
                                (click)="selectedQuestion = list; hiddenRule = false; getRules(list.id);">
                            View rules
                        </button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#questionDetails"
                                (click)="selectedQuestion = list; getQuestion();">
                            Edit
                        </button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#deleteQuestionModal"
                                (click)="selectedQuestion = list">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="checkRulesList">
        <div class="column-right column-rightPadding" [hidden]="hiddenRule">
            <div class="panel panel-default rulePanel" style="width: auto">
                <div class="row-fluid">
                    <button class="btn btn-primary btn-lg ruleBtn boxMrg" data-toggle="modal"
                            data-target="#newRuleDetails"
                            style="margin-bottom: 10px">New Rule
                    </button>
                </div>
                <div *ngFor="let rule of rulesList">
                    <div class="panel panel-default questionPadding">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="col-md-3">
                                    <label class="btn-caption">{{rule.button_caption}} </label>
                                </div>
                                <div class="col-md-5">
                                    <label> {{rule.target_question_caption}} </label>
                                </div>
                                <div class="btn-group-sm pull-right">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#ruleDetails"
                                            (click)="selectedRule = rule; getRule();">Edit
                                    </button>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#deleteRuleModal"
                                            (click)="selectedRule = rule">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Question details-->
    <div class="modal fade" id="newQuestionDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="newQuestionDetailsLabel">New question details</h2>
                </div>
                <div class="modal-body">
                    <div class="row questionModal">
                        <label>You can use system variables in the text:</label><br/>
                        <textarea type="text" class="form-control set-width" value=""
                                  #text></textarea><br/>
                        <label>Use answer to set system variable</label><br/>
                        <select class="form-control set-width" [(ngModel)]="new_variable_id">
                            <option></option>
                            <option *ngFor="let sysvar of sysVarsList" [ngValue]="sysvar.id"> {{sysvar.name}}</option>
                        </select>
                        <label>Fallback question</label><br/>
                        <select class="form-control set-width" [(ngModel)]="new_fallbackQuestion">
                            <option *ngFor="let fb of questionList" [ngValue]="fb.id"> Q{{fb.id}}:
                                {{fb.question_text}}
                            </option>
                        </select>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="isStartCheck" value="option1" [(ngModel)]="NewisStartValue">
                                This question is the start
                                question
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary"
                            (click)="addNewQuestion(text.value,new_variable_id,
                                new_fallbackQuestion,NewisStartValue); text.value = ''; NewisStartValue = false; new_variable_id = 0; new_fallbackQuestion = 0"
                            data-dismiss="modal">Add
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedQuestion">
        <div class="modal fade" id="questionDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="questionDetailsLabel">Question details:
                            Q{{question.id}}</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row questionModal">
                            <label>You can use system variables in the text:</label><br/>
                            <textarea type="text" class="form-control set-width" value="{{question.question_text}}"
                                      #text></textarea><br/>
                            <label>Use answer to set system variable</label><br/>
                            <select class="form-control set-width" [(ngModel)]="variable_id"
                                    (ngModelChange)="checkModalChangeUserVars($event)">
                                <option></option>
                                <option *ngFor="let sysvar of sysVarsList" [ngValue]="sysvar.id"
                                        [selected]="question.user_variable_id == sysvar.id"> {{sysvar.name}}
                                </option>
                            </select>
                            <label>Fallback question</label><br/>
                            <select class="form-control set-width" [(ngModel)]="fallbackQuestion">
                                <option *ngFor="let fb of questionList" [ngValue]="fb.id"
                                        [selected]="question.not_recognized_chat_node_id == fb.id">
                                    Q{{fb.id}}: {{fb.question_text}}
                                </option>
                            </select>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="isStartCheckEdit" [(ngModel)]="isStartValue"
                                           [checked]="question.is_start_node == 1">
                                    This question is the start
                                    question
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary"
                                (click)="updateQuestion(text.value,variable_id,fallbackQuestion,isStartValue);"
                                data-dismiss="modal">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Delete question window-->
    <div *ngIf="selectedQuestion">
        <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="questionLabel">Delete question: Q{{selectedQuestion.id}}</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row questionModal">
                            <h3>Are you sure?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteQuestion()">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete rule window-->
    <div *ngIf="selectedRule">
        <div class="modal fade" id="deleteRuleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="ruleLabel">Delete rule</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row questionModal">
                            <h3>Are you sure?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteRule()">Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rule details -->
    <div *ngIf="selectedRule">
        <div class="modal fade" id="ruleDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="ruleDetailsLabel">Rule details</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row questionModal">
                            <div class="form-group btn-editor-mrg">
                                <label>Button Caption</label>
                                <input type="text" class="form-control" placeholder="" value="{{rule.text}}"
                                       #buttonCaption>
                            </div>

                            <label>Target Question</label>
                            <br/>
                            <select class="form-control boxMrg set-width" [(ngModel)]="target_id" #target="ngModel">
                                <option *ngFor="let target of questionList; let ind = index;" [ngValue]=target.id
                                        [selected]="rule.child_chat_node_id == target.id">
                                    Q{{target.id}}: {{target.question_text}}
                                </option>
                            </select>

                            <label>Related keywords dictionary</label><br/>
                            <select class="form-control boxMrg set-width" [(ngModel)]="dictionary_id"
                                    (ngModelChange)="checkModalChangeDict($event)">
                                <option></option>
                                <option *ngFor="let dict of dictList" [ngValue]="dict.id"
                                        [selected]="rule.dictionary_group_id == dict.id"> {{dict.name}}
                                </option>
                            </select>
                            <div class="checkbox pull-right">
                                <label>
                                    <input type="checkbox" id="isVisible" value="" [(ngModel)]="isVisible"
                                           [checked]="rule.is_visible == 1">
                                    Is visible
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateRule(buttonCaption.value,
                    target_id,isVisible,dictionary_id);">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedQuestion">
        <div class="modal fade" id="newRuleDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="newRuleDetailsLabel">New rule details</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row questionModal">
                            <div class="form-group btn-editor-mrg">
                                <label>Button Caption</label>
                                <input type="text" class="form-control" placeholder="" value=""
                                       #buttonCaption>
                            </div>

                            <label class="pull-left">Target Question</label><br/>
                            <select class="form-control boxMrg set-width" [(ngModel)]="target_idd">
                                <option *ngFor="let target of questionList" [ngValue]=target.id>
                                    Q{{target.id}}: {{target.question_text}}
                                </option>
                            </select>

                            <label>Related keywords dictionary</label><br/>
                            <select class="form-control boxMrg set-width" [(ngModel)]="dictionary_idd">
                                <option></option>
                                <option *ngFor="let dict of dictList" [ngValue]="dict.id"> {{dict.name}}</option>
                            </select>
                            <div class="checkbox pull-right">
                                <label>
                                    <input type="checkbox" id="isVisibleNew" value="0" [(ngModel)]="newIsVisible">
                                    Is visible
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addNewRule(buttonCaption.value,
                    target_idd,newIsVisible,dictionary_idd); buttonCaption.value = ''; target_idd = 0; dictionary_idd = 0; newIsVisible = 0">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>