<div class="panel panel-default set-bg-view">
    <div class="container-fluid">
        <div *ngFor="let userMessage of userMessages; let lst = last; let i = index;">
            <div *ngIf="userMessage.message">

                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <img src="app/img/User.png" class="img-circle pull-left" width="80" height="80">
                    </div>
                    <div class="col-xs-9 col-sm-9">
                        <br />
                        <div class="bubble me"> {{userMessage.message}} </div>
                    </div>
                </div>
                <div *ngIf="userMessage.message === 'Help'">
                    <br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9">
                                <br />
                                <div class="bubble you pull-right">
                                    Keyphrases:
                                    <div *ngFor="let botMessage of botMessages">
                                        ---{{botMessage.message}} </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3">
                                <img src="app/img/User.png" class="img-circle pull-right" width="80" height="80">
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let botMessage of botMessages">
                    <div *ngIf="userMessage.message === botMessage.message">

                        <br />
                        <div>
                            <div class="row">
                                <div class="col-xs-9 col-sm-9">
                                    <br />
                                    <div class="bubble you pull-right">

                                        {{botMessage.message}} </div>
                                </div>
                                <div class="col-xs-3 col-sm-3">
                                    <img src="app/img/User.png" class="img-circle pull-right" width="80" height="80">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div *ngIf="lst">
                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div class="panel panel-default set-bg-view">
                                        <label> Debug: BotID: {{botMessage.id}}, BotMessage: {{botMessage.message}},
                                            Buttons: <div *ngFor="let button of botMessage.buttons"> {{button.text}} </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div class="btn-group btn-group-justified">
                                        <div *ngFor="let button of botMessage.buttons" class="btn btn-default"
                                             (click)="ReplyButton(button.text,debugValue)">{{button.text}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <input type="text" class="form-control" [(ngModel)]="replyValue" required (keyup.enter)="Reply(replyValue)">
        <br />
        <button class="btn btn-default pull-right" (click)="Reply(replyValue)">Reply</button>
    </div>
</div>